<html xmlns:th="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GroupeV-CI</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<div class="entete">
    <h2>Groupe 5 : Loic NDIE SIGHA</h2>
</div>

<h1>TP 1 : Titre du TP</h1>
<div class="container">

    <div class="bloc active">
        <div class="bloc-haut">

            <p class="titre-section">Description du TP</p>
        </div>
        <div class="infos">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error id officia minus ratione veritatis consequatur dolorem vitae recusandae consequuntur, blanditiis autem quibusdam tenetur praesentium delectus! Illo similique optio doloribus voluptatibus?</p>
        </div>
    </div>

    <div class="bloc">
        <div class="bloc-haut">
            <div class="rond">
                <img src="ressources/deconnect.png" alt="">
            </div>
            <p class="titre-section">NGONO FOE</p>

        </div>
        <div class="contenu">
            <img src="ressources/deconnect.png" alt="">
            <div class="infos">
                <h2>NGONO FOE</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, et commodi earum eius ipsa, nulla molestiae iusto eligendi qui non nihil ab, rerum vel exercitationem.</p>

            </div>
        </div>
    </div>

    <div class="bloc">
        <div class="bloc-haut">
            <div class="rond">
                <img src="ressources/deconnect.png" alt="">
            </div>
            <p class="titre-section">PAYEP Lionel</p>


        </div>
        <div class="contenu">
            <img src="ressources/deconnect.png" alt="">
            <div class="infos">
                <h2>PAYEP Lionel</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, et commodi earum eius ipsa, nulla molestiae iusto eligendi qui non nihil ab, rerum vel exercitationem.</p>

            </div>
        </div>
    </div>



    <div class="bloc">
        <div class="bloc-haut">
            <div class="rond">
                <img src="ressources/deconnect.png" alt="">
            </div>
            <p class="titre-section">NDIE SIGHA Loic</p>

        </div>
        <div class="contenu">
            <img src="ressources/deconnect.png" alt="">
            <div class="infos">
                <h2>NDIE SIGHA Loic</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, et commodi earum eius ipsa, nulla molestiae iusto eligendi qui non nihil ab, rerum vel exercitationem.</p>

            </div>
        </div>
    </div>

    <div class="bloc">
        <div class="bloc-haut">
            <div class="rond">
                <img src="ressources/deconnect.png" />
            </div>
            <p class="titre-section">POLA Lorges</p>

        </div>
        <div class="contenu">
            <img src="ressources/deconnect.png" alt="">
            <div class="infos">
                <h2>POLA Lorges</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, et commodi earum eius ipsa, nulla molestiae iusto eligendi qui non nihil ab, rerum vel exercitationem.</p>

            </div>
        </div>
    </div>

</div>

<script th:src="@{/app.js}"></script>
</body>
</html>

</html>